$background: #424769;
$background-hover: #7077a1;

body {
    padding: 0;
    margin: 0;
}

input[type="text"] {
    border: none;
    border-bottom: #7077a1 1px solid;
    height: 25px;
    background-color: #00000000;
}

input:focus {
    outline: none;
}

p {
    margin: 0;
}
