<div class="root">
	<div>
		<img src="assets/gear_icon.svg" class="icon">
	</div>
	<p class="text-slate-100 font-bold p-2 text-sm">Work Order App</p>
	<nav>
		<button>
			<img src="" alt="">
			<p>Dashboard</p>
		</button>
		<button>
			<img src="" alt="">
			<p>Orders</p>
		</button>
		<button>
			<img src="" alt="">
			<p>Storage</p>
		</button>
		<button>
			<img src="" alt="">
			<p>Employees</p>
		</button>
	</nav>

	<div class="admin-btn">
	<button>
		<img src="" alt="">
		<p>Admin</p>
	</button>
</div>
</div>